body {
  width: 100vw;
  height: auto;
  font-family: sans-serif;
  background: #ffffff;
  margin: 0px;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 20px;
}
p {
  font-size: 11px;
}

div {
  display: flex;
  flex-direction: column;
}
.content-wrapper {
  background: white;
  margin: 0.5in 0.5in 0.5in 0.625in;
  max-width: 50vw;
}

#desc {
  text-align: justify;
}

.results-wrapper {
  border: 1px solid black;
  margin-top: 1em;
  max-width: 100%;
}

.results-wrapper div {
  padding: 0.5em;
}

#row1 {
  flex-direction: row;
  gap: 8em;
  margin-bottom: -1em;
}

#row3 {
  border-top: black solid 1px;
  padding-top: 0;
  padding-bottom: 0;
  padding: 0;
  width: 100%;
}

#row3 p {
  margin-left: 6.5px;
}

td,
p {
  overflow-wrap: break-word;
}

table {
  font-size: 11px;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  margin: 0px;
  border-top: 1px black solid;
}

th {
  text-align: left;
  padding: 5px 2px 5px 6.5px;
  font-weight: 300;
}

td {
  padding-left: 6.5px;
  padding-top: 4px;
  padding-bottom: 4px;
}

th,
td {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

tr th:last-child,
tr td:last-child {
  border-right: none;
}

tr th:first-child,
tr td:first-child {
  border-left: none;
}

#overall_score {
  padding-top: 4px;
  padding-bottom: 4px;
}

#row4 {
  max-width: 100%;
}

#row4 p {
  margin-left: 0;
  margin-bottom: 5px;
  text-wrap: wrap;
}

svg {
  max-width: 3em;
  margin-top: 5px;
  margin-right: 5px;
}

#row5 {
  margin-top: 1em;
  align-items: center;
  gap: 0.5em;
}

#row5 p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 11px;
}
